<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >

<a href="/thrdpage"><button>return</button></a>
    <div id="a7e219a7d55944aeb425eefe135660f0" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_a7e219a7d55944aeb425eefe135660f0 = echarts.init(
            document.getElementById('a7e219a7d55944aeb425eefe135660f0'), 'white', {renderer: 'canvas'});
        var option_a7e219a7d55944aeb425eefe135660f0 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "radar",
            "name": "group0",
            "data": [
                [
                    0.99,
                    6.62,
                    2410.41
                ]
            ],
            "label": {
                "show": false,
                "margin": 8
            },
            "itemStyle": {
                "normal": {
                    "color": "#f9713c"
                }
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "radar",
            "name": "group1",
            "data": [
                [
                    1.0,
                    56.99,
                    27976.50
                ]
            ],
            "label": {
                "show": false,
                "margin": 8
            },
            "itemStyle": {
                "normal": {
                    "color": "#b3e4a1"
                }
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "radar",
            "name": "group2",
            "data": [
                [
                    2.41,
                    5.25,
                    2992.83
                ]
            ],
            "label": {
                "show": false,
                "margin": 8
            },
            "itemStyle": {
                "normal": {
                    "color": "#5CACEE"
                }
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "group0",
                "group1",
                "group2"
            ],
            "selected": {
                "group0": true,
                "group1": true,
                "group2": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "radar": [
        {
            "indicator": [
                {
                    "name": "recency",
                    "max": 3
                },
                {
                    "name": "frequency",
                    "max": 72
                },
                {
                    "name": "monetary",
                    "max": 35280
                }
            ],
            "startAngle": 90,
            "name": {
                "textStyle": {}
            },
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "splitArea": {
                "show": true,
                "areaStyle": {
                    "opacity": 0
                }
            },
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "Radar-Buyer Group",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_a7e219a7d55944aeb425eefe135660f0.setOption(option_a7e219a7d55944aeb425eefe135660f0);
    </script>

<p> Group 0:active customer &nbsp&nbsp Gourp 1:VIP customer &nbsp&nbsp Group2:normal customer
<table border="1" cellspacing="0" width ="60%">
  <thead>
    <tr>
      <th scope="col">User_id</th>
      <th scope="col">Recency</th>
      <th scope="col">Frequency</th>
      <th scope="col">Monetary</th>
      <th scope="col">Group</th>
    </tr>
  </thead>
  <tbody>

  {%for item in res%}
<tr>
	<td>{{item[0]}}</td>
	<td>{{item[1]}}</td>
	<td>{{item[2]}}</td>
	<td>{{item[3]}}</td>
	<td>{{item[4]}}</td>
  {% endfor %}

</tr>
  

  </tbody>
</table>

</body>
</html>
</body>
</html>
