{% extends 'base.html' %}
{% block middle %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Data Exploration</h1>
<div style="visibility:{{ visibility }}">
    <a href="{{ url_for('visual',feats='stat') }}">User Gender Ratio</a>
</div>

<div style=height:20px;>
    <a href="/user/activity">Visualization of user activity</a>
</div>

<div style=height:20px;>
    <a href="/user/funnel01">Funnel model for Action</a>
</div>
<div style=height:20px;>
    <a href="/user/funnel02">Funnel model for Individual</a>
</div>
<div style=height:20px;>
    <a href="/user/order">Purchase Analysis</a>
</div>

<div style=height:20px;>
    <a href="/user/radar">Customer segmentation (using K-Means and RFM)</a>
</div>

<div style=height:50px;></div><a href="/super"><button>return</button></a></div>

</body>

{% endblock %}
